/************ Theme 1 ************/

/************ Backgrounds ************/
:root{
--mainBackgroundOne  : #3a4764; /* (VeryDarkDesaturatedBlue) */
--toggleBackgroundOne: #232c43; /* (VeryDarkDesaturatedBlue ) */
--keypadBackgroundOne : #232c43; /* (VeryDarkDesaturatedBlue ) */
--screenBackgroundOne : #182034; /* (VeryDarkDesaturatedBlue) */

/*********** Keys ************/

--keyBackgroundOne : #637097; /* (DesaturatedDarkBlue) */
--keyShadowOne : #404e72; /* (DesaturatedDarkBlue ) */

--keyBackgroundOne : #d03f2f; /* (Red) */
--toggleBackgroundOne : #d03f2f; /* (Red) */
--keyShadowOne : #93261a; /* (DarkRed) */

--keyBackgroundOne : #eae3dc; /* (LightGrayishOrange */
--keyShadowOne : #b4a597; /* (GrayishOrange ) */

/************ Text ************/

--textOne: #444b5a; /* VeryDarkGrayishBlueOne */
--White: hsl(0, 0%, 100%);


/************ Theme 2 ************/

/************ Backgrounds ************/

--mainBackgroundTwo : #e6e6e6; /* (LightGray) */
--keypadToggleBackgroundTwo : #d1cccc; /* (GrayishRed) */
--screenBackgroundTwo  : #ededed; /* (VeryLightGray) */

/*********** Keys ************/

--keyBackgroundTwo : #377f86; /* (DarkModerateCyan) */
--keyShadowTwo : #1b5f65; /* (VeryDarkCyan) */

--keyBackgroundToggleTwo : #ca5502; /* (Orange) */
--keyShadowTwo : #893901; /* (DarkOrange) */

--keyBackgroundTwo : #e5e4e1; /* (LightGrayishYellow) */
--keyShadowTwo : #a69d91; /* (DarkGrayishOrange) */

/************ Text ************/

--textTwo: #35352c; /* VeryDarkGrayishYellow */
--White : #ffffff; /* (text) */


/************ Theme 3 ************/

/************ Backgrounds ************/

--mainBackgroundThree  : #160628; /* (VeryDarkViolet) */
--toggleKeypadScreenBackgroundThree : #1d0934; /* (VeryDarkViolet) */

/*********** Keys ************/

--keyBackgroundThree : #58077d; /* (DarkViolet) */
--keyShadowThree : #bc15f4; /* (VividMagenta) */

--keyToggleBackgroundThree : #00e0d1; /* (PureCyan) */
--keyShadowThree : #6cf9f2; /* (SoftCyan) */

--keyBackgroundThree : #341c4f; /* ( VeryDarkViolet) */
--keyShadowThree : #871c9c; /* (DarkMagenta) */

/************ Text ************/

--textThree: #ffe53d; /* (LightYellow) */
--equalthree: #1b2428; /* (VeryDarkBlue) */
--White : #ffffff; /* (text) */
}


/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--mainBackground);
}