/************ Theme 1 ************/

/************ Backgrounds ************/
:root {
    --mainBackgroundOne: #3a4764;
    /* (VeryDarkDesaturatedBlue) */
    --toggleBackgroundOne: #232c43;
    /* (VeryDarkDesaturatedBlue ) */
    --keypadBackgroundOne: #232c43;
    /* (VeryDarkDesaturatedBlue ) */
    --screenBackgroundOne: #182034;
    /* (VeryDarkDesaturatedBlue) */

    /*********** Keys ************/

    --keyBackgroundOne: #637097;
    /* (DesaturatedDarkBlue) */
    --keyShadowOne: #404e72;
    /* (DesaturatedDarkBlue ) */

    --keyBackgroundRedOne: #d03f2f;
    /* (Red) */
    --toggleBackgroundRedOne: #d03f2f;
    /* (Red) */
    --keyShadowOneRed: #93261a;
    /* (DarkRed) */

    --keyBackgroundOneLight: #eae3dc;
    /* (LightGrayishOrange */
    --keyShadowOneGray: #b4a597;
    /* (GrayishOrange ) */

    /************ Text ************/

    --textOne: #444b5a;
    /* VeryDarkGrayishBlueOne */
    --White: hsl(0, 0%, 100%);


     /************ Theme 2 ************/

    /************ Backgrounds ************/

    --mainBackgroundTwo: #e6e6e6;
    /* (LightGray) */
    --keypadToggleBackgroundTwo: #d1cccc;
    /* (GrayishRed) */
    --screenBackgroundTwo: #ededed;
    /* (VeryLightGray) */

    /*********** Keys ************/

    --keyBackgroundTwoDarkModerateCyan: #377f86;
    /* (DarkModerateCyan) */
    --keyShadowTwoVeryDarkCyan: #1b5f65;
    /* (VeryDarkCyan) */

    --keyBackgroundToggleTwoOrange: #ca5502;
    /* (Orange) */
    --keyShadowTwoDarkOrange: #893901;
    /* (DarkOrange) */

    --keyBackgroundTwoLightGrayishYellow: #e5e4e1;
    /* (LightGrayishYellow) */
    --keyShadowTwoDarkGrayishOrange: #a69d91;
    /* (DarkGrayishOrange) */

    /************ Text ************/

    --textTwo: #35352c;
    /* VeryDarkGrayishYellow */
    --White: #ffffff;
    /* (text) */


     /************ Theme 3 ************/

    /************ Backgrounds ************/

    --mainBackgroundThree: #160628;
    /* (VeryDarkViolet) */
    --toggleKeypadScreenBackgroundThree: #1d0934;
    /* (VeryDarkViolet) */

    /*********** Keys ************/

    --keyBackgroundThreeDarkViolet: #58077d;
    /* (DarkViolet) */
    --keyShadowThreeVividMagenta: #bc15f4;
    /* (VividMagenta) */

    --keyToggleBackgroundThree: #00e0d1;
    /* (PureCyan) */
    --keyShadowThreeSoftCyan: #6cf9f2;
    /* (SoftCyan) */

    --keyBackgroundThreeVeryDarkViolet: #341c4f;
    /* ( VeryDarkViolet) */
    --keyShadowThreeDarkMagenta: #871c9c;
    /* (DarkMagenta) */

    /************ Text ************/

    --textThree: #ffe53d;
    /* (LightYellow) */
    --equalthree: #1b2428;
    /* (VeryDarkBlue) */
    --White: #ffffff;
    /* (text) */
}


/* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--mainBackgroundOne);
    color: var(--White);
    /* max-width: 100vw; */
    /* height: 100vh; */
    display: grid;
    place-items: center;
    place-content: center;

}

.themeSwitchTwo{
    background-color: var(--mainBackgroundTwo);
    color: var(--textTwo);
}

.themeSwitchTwo .roundBox{
    background-color: var(--keypadToggleBackgroundTwo);
}

.themeSwitchTwo .displayValue{
    background-color: var(--screenBackgroundTwo);
}

.themeSwitchTwo .keypadSection{
    background-color: var(--keypadToggleBackgroundTwo);
}

.themeSwitchTwo .button{
    background-color: var(--keyBackgroundTwoLightGrayishYellow);
    box-shadow: 0 3px var(--keyShadowTwoDarkGrayishOrange);
    color: var(--textTwo);
}


.themeSwitchTwo .buttonReset{
   background-color: var(--keyBackgroundTwoDarkModerateCyan);
   box-shadow: 0 3px var(--keyShadowTwoVeryDarkCyan);
}

.themeSwitchTwo .del{
    background-color: var(--keyBackgroundTwoDarkModerateCyan);
    box-shadow: 0 3px var(--keyShadowTwoVeryDarkCyan);
    color: var(--White);
}

.themeSwitchTwo .del:hover{
    background-color: var(--keyBackgroundTwoDarkModerateCyan);
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.themeSwitchTwo .buttonEqual{
    background-color: var(--keyBackgroundToggleTwoOrange);
    box-shadow: 0 3px var(--keyShadowTwoDarkOrange);
}

.themeSwitchThree{
    background-color: var(--mainBackgroundThree);
    color: var(--textThree);
}

.themeSwitchThree .roundBox{
    background-color: var(--toggleKeypadScreenBackgroundThree);
}

.themeSwitchThree .displayValue{
    background-color: var(--toggleKeypadScreenBackgroundThree);
}

.themeSwitchThree .keypadSection{
    background-color: var(--toggleKeypadScreenBackgroundThree);
}

.themeSwitchThree .button{
    background-color: var(--keyBackgroundThreeVeryDarkViolet);
    box-shadow: 0 3px var(--keyShadowThreeDarkMagenta);
    color: var(--textThree);
}

.themeSwitchThree .button:hover {
    background-color: var(--keyShadowThreeVividMagenta);
}

.themeSwitchThree .buttonReset{
    background-color: var(--keyBackgroundThreeDarkViolet);
    box-shadow: 0 3px var(--keyShadowThreeVividMagenta);
}

.themeSwitchThree .del{
    background-color: var(--keyBackgroundThreeDarkViolet);
    box-shadow: 0 3px var(--keyShadowThreeVividMagenta);
}

.themeSwitchThree .del:hover{
    background-color: var(--keyBackgroundThreeDarkViolet);
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.themeSwitchThree .buttonEqual{
    background-color: var(--keyToggleBackgroundThree);
    box-shadow: 0 3px var(--keyShadowThreeSoftCyan);
    color: var(--equalthree);
}

.theme {
    text-transform: uppercase;
}

.mainContainer {
    margin: 2rem 0;
    max-width: 25rem;
    /* height: 100vh; */
    /* border: 5px solid red; */
}


.calcAndToggle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calc {
    display: flex;
    align-items: end;
}

.right {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2rem;
}


.roundBox {
    width: 4rem;
    height: 1.2rem;
    background-color: var(--toggleBackgroundOne);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.roundBox span:nth-child(2) {
    background-color: var(--keyBackgroundToggleTwoOrange);
}

.roundBox span:nth-child(3) {
    background-color: var(--keyToggleBackgroundThree);
}

.dot {
    height: 13px;
    width: 13px;
    background-color: var(--toggleBackgroundRedOne);
    border-radius: 50%;
    cursor: pointer;
    text-align: left;
    display: inline-block;
}



.numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.displayValue {
    min-width: 25rem;
    height: 6rem;
    background-color: var(--screenBackgroundOne);
    margin: 2rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    font-size: 2rem;
}

.keypadSection {
    min-width: 25rem;
    height: 23rem;
    background-color: var(--keypadBackgroundOne);
    border-radius: 10px;
}

.keypadSection {
    padding: 1rem;
}

.keypadButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}


.button {
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--keyBackgroundOneLight);
    color: var(--textOne);
    width: 4.5rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px var(--keyShadowOneGray);
    border: none;
}

.button:hover {
    background-color: var(--White);
}

.btn {
    height: 3rem;
    font-size: 1.5rem;
    box-shadow: 0 3px var(--keyShadowOne);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.keypadLastRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.buttonEqual {
    background-color: var(--toggleBackgroundRedOne);
    box-shadow: 0 3px var(--keyShadowOneRed);
    color: var(--White);
}

.buttonReset,
.del {
    background-color: var(--mainBackgroundOne);
    color: var(--White);
    font-size: 1.5rem;
    box-shadow: 0 3px var(--textOne);
}

.btn:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.del:hover {
    background-color: var(--mainBackgroundOne);
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 480px) and (min-width: 320px) { 
    
    body {

        max-width: 100vw;
        height: 100vh;
        display: grid;
        place-items: center;
        place-content: center;
    
    }

    .mainContainer {
        margin: 2rem;
        max-width: 20rem;
        /* border: 5px solid red; */
    }

    .displayValue {
        min-width: 20rem;
        height: 6rem;
        background-color: var(--screenBackgroundOne);
        margin: 2rem 0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 1rem;
        font-size: 2rem;
    }

    .keypadSection {
        min-width: 20rem;
        height: 19rem;
        background-color: var(--keypadBackgroundOne);
        border-radius: 10px;
    }

    .keypadButtons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.7rem;
    }
    

    .button {
        font-size: 1.5rem;
        width: 4rem;
        height: 2.5rem;
    }
}